include "binds.kdl"
include "rules.kdl"
input {
    keyboard {
        numlock
    }
    touchpad {
        tap
        dwt
        dwtp
    }
}
output "Beihai Century Joint Innovation Technology Co.,Ltd P2710V 0000000000000" {
    scale 1.5
    mode "3840x2160@143.998000"
}
layout {
    gaps 8
    focus-ring {
        width 2
        active-color "#505050"
        inactive-color "#505050"
    }
    border {
        off
    }
    tab-indicator {
        width 2
        gap 2
        gaps-between-tabs 4
        active-gradient from="#f38ba8" to="#f9e2af" angle=45 relative-to="workspace-view"
    }
    insert-hint {
        color "#ffc87f80"
        gradient from="#f38ba880" to="#f9e2af80" angle=45 relative-to="workspace-view"
    }
    default-column-width {
        proportion 0.5
    }
    center-focused-column "on-overflow"
    always-center-single-column
}
workspace "terminal"
workspace "notes"
workspace "documentation"
workspace "browser"
workspace "communication"
workspace "entertainment"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "systemctl" "--user" "restart" "fcitx5.service"
prefer-no-csd
screenshot-path "/home/merrkry/Pictures/Screenshots/Screenshot %Y-%m-%d %H-%M-%S.png"
cursor {
    xcursor-theme "default"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 2500
}
clipboard {
    disable-primary
}
hotkey-overlay {
    skip-at-startup
}
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match is-floating=true
    shadow {
        on
    }
}
recent-windows {
    highlight {
        corner-radius 12
    }
}
animations {
    workspace-switch {
        off
    }
    slowdown 0.8
}

