name: build and push cache to attic

on:
  push:
  workflow_dispatch:

jobs:
  cache:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: connect to attic
        run: |
          attic login --set-default atticd http://localhost:20002/ ${{ secrets.ATTIC_TOKEN }}
      - name: build
        run: |
          nix-fast-build \
            --flake ".#build.$(nix eval --raw --impure --expr 'builtins.currentSystem')" \
            --option access-tokens github.com=${{ secrets.PAT }} \
            --no-nom \
            --attic-cache selfhosted \
            --eval-max-memory-size 4096 \
            --eval-workers 4
